<% layout('boilerplate') %>

<h1 class="text-center">configure homepage</h1>

<div class="mt-5 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
  <form action="/admin/configHome?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="heading" class="form-label">Heading</label>
      <input class="form-control" type="text" name="heading" id="heading" value="<%=homePage.heading%>">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input class="form-control" type="text" name="description" id="description" value="<%=homePage.description%>">
    </div>
    <div class="mb-3">
      <label for="backgroundImage" class="form-label">Backgorund Image</label>
      <input type="file" name="backgroundImage" id="backgroundImage">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
