<% layout('boilerplate') %>

<h1>Contact</h1>

<form action="/admin/contact?_mehtod=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input class="form-control" type="text" name="name">
  </div>
  <div class="mb-3">
    <label for="Phone Number" class="form-label">Email</label>
    <input class="form-control" type="text" Email="Email">
  </div>
  <div class="mb-3">
    <label for="Phone Number" class="form-label">Phone Number</label>
    <input class="form-control" type="text" Phone Number="Phone Number">
  </div>
</form>