<% layout('boilerplate') %>

<h1 class="text-center">Contact</h1>



<div class="mt-5 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
  <form action="/admin/contact?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input class="form-control" type="text" name="adminName" value="<%=adminSettings.contact.adminName%>">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input class="form-control" type="text" name="email" value="<%=adminSettings.contact.email%>">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input class="form-control" type="text" name="phoneNumber" value="<%=adminSettings.contact.phoneNumber%>">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>