<% layout('boilerplate') %>

<h1>ADMIN HOME</h1>

<div class="mb-3">
  <a href="/products/new">Add a new product</a>
</div>

<div class="mb-3">
  <a href="/admin/categories">Add or remove categories</a>
</div>

<div class="mb-3">
  <a href="/admin/title">Set the site name</a>
</div>

<div class="mb-3">
  <a href="/admin/images">Set home and background images</a>
</div>

<div class="mb-3">
  <a href="/admin/contact">Set contact information</a>
</div>