<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/all">All Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/products/browse">Browse</a>
              </li>
            </ul>
            <ul class="navbar-nav">
                <% if (!currentUser) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link active" href=#><%=currentUser.username%></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" active" href="/cart">Shopping Cart</a>
                    </li>
                    <% if (currentUser.admin === true) { %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin">Admin Page</a>
                        </li>
                    <% }%>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>


    </div>
</nav>